<div>
  <br>
  <br>
  <mat-card class="cardstyle">
    <div fxLayout="column">
      <mat-slide-toggle class="redTog" (change)="toggleRed($event)" [checked]="redStat">
        <span style="color:black">
        <mat-icon>sentiment_very_dissatisfied</mat-icon>
        </span>
      </mat-slide-toggle>
      <mat-slide-toggle class="yellowTog" (change)="toggleYellow($event)" [checked]="yellowStat">
        <span style="color:black">
        <mat-icon>
          sentiment_satisfied
        </mat-icon>
        </span>
      </mat-slide-toggle>
      <mat-slide-toggle class="greenTog" (change)="toggleGreen($event)" [checked]="greenStat"> 
        <span style="color:black">
        <mat-icon>
          sentiment_very_satisfied
        </mat-icon>
        </span>
      </mat-slide-toggle>
    </div>
    
  </mat-card>
</div>